*.o
*.lo
*.a
*.la
*.pc
.deps/
.libs/
Makefile
Makefile.in
Makefile.old
aclocal.m4
autom4te.cache/
autoscan.log
config.guess
config.h.in
config.log
config.status
config.sub
configure
configure.scan
depcomp
install-sh
libtool
ltmain.sh
missing
stamp-h1
dc1394-camls
dc1394-play
dc1394-record
dc1394-save
dc1394-show
dc1394-view
dc1394-opencv-view
